body {

  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Charis SIL', serif;
    font-family: 'Sarabun', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*FORMATTING FOR SCHEDULE PAGE*/

.yoga-schedule { 
  padding-left: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom-style:dotted;
  border-color:lightslategray; 
  border-width: 1px;
}

.row { 
  display: flex; 
}

.column { 
  text-align: left;
}

.parallax {

  /* Full height */
  height: 100%;
  width: 100%;
  /* object-fit: contain; */

  /* Create the parallax scrolling effect */
  /* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */

  /* position: relative; */
  height: 80vh;
}

.hero_title {
  color: white;
  /* z-index: 1; */
  /* text-align: center; */
  transform: translateZ(-2px) scale(1.5);
  font-weight: 700;

  position: absolute;
  top: 100px;
  left: 100px;

}

.hero_title2 {
  color: white;
  /* z-index: 1; */
  /* text-align: center; */
  transform: translateZ(-2px) scale(1.5);
  font-weight: 200;

  position: absolute;
  top: 180px;
  left: 60px;
}

.hero_title3 {
  color: white;
  /* z-index: 1; */
  /* text-align: center; */
  transform: translateZ(-2px) scale(1.5);
  /* font-weight: 300; */

  position: absolute;
  top: 260px;
  left: 140px;
}

#header_button {
  top: 260px;
  left: 300px;
}